/**
 * Colors contains basic crucial css behavior
 * @date 13.2.22
 * @author natsu
**/

$neight-white: #FFFFFF !default;
$neight-red: #A00E0E !default;
$neight-black: #555555 !default;
$neight-green: #16A163;
$neight-silver: #c0c0c0 !default;
$neight-platinum-gray: #e5e4e2 !default;

$primaryColor: #8e0038;
$primaryColorHover: #ad0044;
$secondaryColor: #8bc9ad;
$headerColor: #8bc9ad;
$inverseColor: #f7f7f7;
$primaryTextColor: #161616;
