:host {
  display: block;
  width: 100%;

  div {
    display: inline-flex;
    width: 100%;
  }
}

.dashboard-card {
  min-width: 20rem;

  &:not(:first-child) {
    margin: 0 2rem;
  }
}

// .example-header-image {
//   background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }